* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e4ccff;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 800px;
}

.titulo {
    margin-bottom: 20px;
    font-size: 24px;
    color: #270949;
}

.formulario {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #270949;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.btn-registro {
    width: 100%;
    padding: 15px;
    background-color: #270949;
    color: #e4ccff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-registro:hover {
    background-color: #4a148c;
}
